* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
section h2,
section h3,
form button {
    font-family: 'Bungee', cursive;
    font-weight: normal;
}

body, input , textarea {
    font-family: 'Roboto' , sans-serif;
}

header {
    padding: 16px 0;
    background-color: #182c61;
    color: #ecf0f1;
}

header nav li{
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a{
    color:#ecf0f1;
    text-decoration: none;/* remove toda a "decoração" do texto*/
}

.container {
    max-width: 1200px;/* maximo de 1200px em tela*/
    width: 100%;
    margin: 0 auto;/* centralizado automatico nas laterais*/
}

header .container , /* apenas os containers do header e da section */
section .container{ 
    display: flex; /* para posicionar o menu lado a lado*/
    align-items: center; /* para centraliza-los verticalmente*/
    justify-content: space-between;/* distribuir o menu para extrema direita*/
}

.brands-list img{/* seletor de imagens dentro da classe "brands-list"*/
    height: 24px; /* imagens com 24px de altura e largura automatica*/
}

.brands-list li {/*seleciona os elementos de lista dentro da classe "brands-list"*/
    display: inline; /* posicionamento lado a lado*/
    margin-right: 8px;
}

section .container {
    align-items: flex-start; /*sobrescreve  a propriedade "align-itens:center" da linha 33 deste codigo */
}

section{
    padding: 24px 0;/* espaçamento superior e inferior*/
}

section h2 {
    margin-bottom: 16px;
}

section{
    color: #182c61;
}

section p{
    margin-bottom: 8px;
}

.store-front{
    margin-right: 32px;
}

.social-links img{
    height: 24px;
}

.social-links li{
    display: inline; /*em linha, lado a lado*/
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}

#contact .container {/*para ficar um abaixo do outro*/
    display: block;
}

.contact-methods{/*para ficar um ao lado do outro*/
    display: flex;
    justify-content: space-between; /*ajusta de forma igualitaria*/
}

form input,
form textarea,
form button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea{/*para o usuario nao aumentar o text area*/
    resize: none;
    height: 180px;
}

section h3{
    margin-bottom: 16px;
}

form button {
    background-color: #182c61;
    color: #ecf0f1;
    border: none;
    cursor: pointer;/*o cursor muda para "maozinha"*/
}

form button:hover{
    background-color: #314e9e;
}

input:focus, textarea:focus /*quando a area estiver selecionada*/{
    outline-color: #182c61 ;/*no focus nao é borda*/
}

footer{
    background-color: #182c61;
    color: #ecf0f1;
    padding: 16px 0;
    text-align: center;
}